[submodule "Resources/rosserial_android"]
	path = Resources/rosserial_android
	url = git@github.com:cloudspace/rosserial_android.git
[submodule "Resources/ros_cardboard"]
	path = Resources/ros_cardboard
	url = git@github.com:cloudspace/ros_cardboard.git
