[submodule "Resources/rosserial_android"]
	path = Resources/rosserial_android
	url = git@github.com:cloudspace/rosserial_android.git
[submodule "Resources/ros_cardboard"]
	path = Resources/ros_cardboard
	url = git@github.com:cloudspace/ros_cardboard.git
[submodule "Resources/rosjava_audio"]
	path = Resources/rosjava_audio
	url = git@github.com:cloudspace/rosjava_audio.git
[submodule "Resources/rosjava_video"]
	path = Resources/rosjava_video
	url = git@github.com:cloudspace/rosjava_video.git
[submodule "Resources/edison"]
	path = Resources/edison
	url = git@github.com:cloudspace/ArdrobotEdison.git
