<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudspace.ardrobot" >

    <uses-sdk android:minSdkVersion="12" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-library android:name="com.android.future.usb.accessory" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".RosCoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CardboardViewerSensorsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SensorsControllerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".ExternalCoreActivity"
            android:autoRemoveFromRecents="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".ControllerActivity"
            android:label="@string/title_activity_controller"
            android:screenOrientation="landscape" />
        <activity android:name="org.ros.android.MasterChooser" />
        <activity
            android:name=".AccessoryActivity"
            android:label="@string/title_activity_accessory"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >

            <!-- Allows your application to be notified of an attached USB accessory -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <!--
            External XML resources file declares identifying information about the accessory that
            you want detect
            -->
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service android:name="org.ros.android.NodeMainExecutorService" />
        <service android:name=".util.BleService" />
        <service android:name=".util.BleScanService" />

        <activity
            android:name=".VideoConferenceTest"
            android:label="@string/title_activity_video_conference_test" >
        </activity>

        <receiver android:name=".util.BootReciever" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.FAKE_BOOT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DeviceSelectionActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
